In [1]:
import pandas as pd
df_plans = pd.read_csv('plans.csv',delimiter=';',encoding='UTF8',index_col=0)
df_plans

         program premiliminary          exercise      after
disease
diabetes     4,3    :1,2/15-30  aerobic:5/30,inf  :2/30,inf

In [2]:
df_sports = pd.read_csv('sports.csv',delimiter=';',encoding='UTF8')
df_sports

       type                sport            info
0   aerobic       Cicla elíptica          Indoor
1   aerobic       Cicla estática          Indoor
2   aerobic           Caminadora          Indoor
3   aerobic              Caminar         Outdoor
4   aerobic                Cicla         Outdoor
5   aerobic               Correr         Outdoor
6   aerobic              Patinar         Outdoor
7   aerobic                Nadar  Indoor/Outdoor
8   aerobic           Kickboxing  Indoor/Outdoor
9   aerobic        Saltar cuerda  Indoor/Outdoor
10  aerobic       Baile aeróbico  Indoor/Outdoor
11  aerobic  Aeróbicos acuáticos  Indoor/Outdoor

In [3]:
disease = 'diabetes'

In [4]:
df_disease_plan = df_plans.loc[disease]
df_disease_plan

program                       4,3
premiliminary          :1,2/15-30
exercise         aerobic:5/30,inf
after                   :2/30,inf
Name: diabetes, dtype: object

In [5]:
ex_type = df_disease_plan['exercise'].split(':')[0]
ex_type

'aerobic'

In [6]:
df_disease_sports = df_sports[df_sports['type']==ex_type]
df_disease_sports

       type                sport            info
0   aerobic       Cicla elíptica          Indoor
1   aerobic       Cicla estática          Indoor
2   aerobic           Caminadora          Indoor
3   aerobic              Caminar         Outdoor
4   aerobic                Cicla         Outdoor
5   aerobic               Correr         Outdoor
6   aerobic              Patinar         Outdoor
7   aerobic                Nadar  Indoor/Outdoor
8   aerobic           Kickboxing  Indoor/Outdoor
9   aerobic        Saltar cuerda  Indoor/Outdoor
10  aerobic       Baile aeróbico  Indoor/Outdoor
11  aerobic  Aeróbicos acuáticos  Indoor/Outdoor

In [7]:
import random
res = pd.DataFrame([random.choice(df_disease_sports.values)],columns=df_disease_sports.columns)
res

      type       sport            info
0  aerobic  Kickboxing  Indoor/Outdoor